<form method="post" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
  {{ form.as_table }}
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary">
	{% if object %}
	Update
	{% else %}
	Create
	{% endif %}
      </button>
    </div>
  </div>
</form>
