{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
  {% for game in games %}
  <tr>
    <td><a href="{% url 'game.detail' pk=game.pk %}">{{ game.name }}</a></td>
    <td>{{ game.active }}</td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'game.create' %}">Create a game</a>
{% endblock %}
